docs/Assisting_in_Writing_Wikipedia-like_Articles_From_Scratch_with_Large_Language_Models_Shao_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/Demonstrate-Search-Predict-Composing_retrieval_and_language_models_for_knowledge-intensive_NLP_Khattab_2023.pdf filter=lfs diff=lfs merge=lfs -text
docs/docs/Optimizing_Instructions_and_Demonstrations_for_Multi-Stage_Language_Model_Programs_Ong_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/Optimizing_Instructions_and_Demonstrations_for_Multi-Stage_Language_Model_Programs_Ong_2024.pdf filter=lfs diff=lfs merge=lfs -text
docs/A_Survey_of_Context_Engineering_for_Large_Language_Models_Mei_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/A_Survey_of_Context_Engineering_for_Large_Language_Models_Mei_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Assisting_in_Writing_Wikipedia-like_Articles_From_Scratch_with_Large_Language_Models_Shao_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Demonstrate-Search-Predict-Composing_retrieval_and_language_models_for_knowledge-intensive_NLP_Khattab_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Optimizing_Instructions_and_Demonstrations_for_Multi-Stage_Language_Model_Programs_Ong_2024.pdf filter=lfs diff=lfs merge=lfs -text
